<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <p>Add new blue or red</p>
    <div class="form-group">
      <label for="redInput">Red name</label>
      <!--<input type="text" [(ngModel)]="redName" name="red" id="red" class="form-control" placeholder="Red name" aria-describedby="red name">-->
      <input type="text" #redInput class="form-control">
      <small id="redInput" class="text-muted">Name for the red item</small>
    </div>
    <div class="form-group">
      <label for="blueInput">Blue name</label>
      <!--<input type="text" [(ngModel)]="blueName" name="blue" class="form-control" placeholder="Blue name" aria-describedby="blue name">-->
      <input type="text" #blueInput id="blueInput" class="form-control">
      <small id="blueInput" class="text-muted">Name for the blue item</small>
    </div>
    <button class="btn btn-primary" (click)="onAddBlue(blueInput)">Add blue</button>
    <button class="btn btn-danger" (click)="onAddRed(redInput)">Add red</button>
  </div>
</div>