
  <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/recipe-image-legacy-id--488691_11.jpg?itok=ExaTspz1"
        alt="">
      <span>Recipe name</span>
      <span class="mdl-list__item-sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, asperiores, inventore nulla possimus itaque, sed qui vitae quaerat nobis doloremque ut voluptates quo error ratione exercitationem accusantium, maxime ullam. Blanditiis.</span>
    </span>
    <span class="mdl-list__item-secondary-action">
      <button class="mdl-button mdl-button-js">View</button>
    </span>
  </li>
