<div class="mdl-card mdl-shadow--2dp" style="width: 100%">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Recipe name</h2>
  </div>
  <div class="mdl-card__media">
    <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/recipe-image-legacy-id--488691_11.jpg?itok=ExaTspz1">
  </div>
  <div class="mdl-card__supporting-text">
    This text might describe the photo and provide further information, such as where and when it was taken.
  </div>
  <div class="mdl-card__actions">
    <a class="mdl-button mdl-button-js" href="(URL or function)">Add to shopping list</a>
    <a class="mdl-button mdl-button-js" href="(URL or function)">Edit</a>
    <a class="mdl-button mdl-button-js mdl-button--accent" style="float: right" href="(URL or function)">Delete</a>
  </div>
</div>