<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive" src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/recipe-image-legacy-id--488691_11.jpg?itok=ExaTspz1">
  </div>
  <div class="col-xs-12">
    <h1>Recipe name</h1>
  </div>
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Manage recipe <i class="caret"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a href="javascript:void()">Add to shopping list</a></li>
        <li><a href="javascript:void()">Edit recipe</a></li>
        <li><a href="javascript:void()">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>